<section>
    <div class="container">
        <div id="confirmOrderForm_status" class="status alert alert-success"></div>
        <form id="confirmOrderForm" class="contact-form row" name="confirmOrderForm" action="/products" method="post">
            <div class="form-group col-md-6">
                <select class="form-control" name="type" form="confirmOrderForm">
                    <option value="">Order Date</option>
                    <option value="Handcraft">10/02/2105</option>
                    <option value="Music">10/04/2015</option>
                    <option value="Clothe">10/14/2015</option>
                    <option value="Food">09/20/2015</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <select class="form-control" name="type" form="confirmOrderForm">
                    <option value="">20.00</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <select class="form-control" name="type" form="confirmOrderForm">
                    <option value="">5</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <select class="form-control" name="type" form="confirmOrderForm">
                    <option value="">5</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <select class="form-control" name="country" form="confirmOrderForm">
                    <option value="">Country</option>
                    <option value="USA">USA</option>
                    <option value="India">India</option>
                    <option value="Burma">Burna</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <input type="submit" id="confirm_order_submit" name="confirm_order_submit" class="btn btn-primary pull-right" value="Submit">
            </div>
        </form>

    </div>
</section>