<section>
    <div class="panel-default">
        <div class="panel-body">
            <h2>The Sample Document!!!!</h2>
            <br>
            <br>
            <br>
            <h3>COPYRIGHT NOTICE</h3><br>
            <br>
            <br>

            <p>Copyright © [YEAR(S) OF FIRST PUBLICATION - E.G. “2015-2020”] [NAME - E.G. “International eShopper”]</p>
            <br>
            <br>
            <p>Credit</p>
            <br>
            <br>
            <p>This document was created using a Contractology template available at http://www.freenetlaw.com.</p>
            <br>
            <br>

            <p>Ownership of copyright</p>
            <br>
            <br>

            <p>The copyright in this website and the material on this website (including without limitation the text, computer code, artwork, photographs, images, music, audio material, video material and audio-visual material on this website) is owned by International eShopper [and its licensors].</p>
            <br>
            <br>
            <p>Copyright license</p>
            <br>
            <br>

            <p>International eShopper grants to you a worldwide non-exclusive royalty-free revocable license to:</p>
            <br>
            <br>
            <p>
            	view this website and the material on this website on a computer or mobile device via a web browser;<br>
            	copy and store this website and the material on this website in your web browser cache memory; and<br>
            	print pages from this website for your own [personal and non-commercial] use.<br>
            </p>
            <br>

            <p>International eShopper does not grant you any other rights in relation to this website or the material on this website.   In other words, all other rights are reserved.</p>

            <p>For the avoidance of doubt, you must not adapt, edit, change, transform, publish, republish, distribute, redistribute, broadcast, rebroadcast or show or play in public this website or the material on this website (in any form or media) without International eShopper’s prior written permission.</p>
            <br>
            <p>Data mining</p>
            <br>
            <p>The automated and/or systematic collection of data from this website is prohibited.</p>
            <br>
            <p>Permissions</p>
            <br>
            <p>You may request permission to use the copyright materials on this website by writing to info@internationaleShopper.com. </p>
            <br>
            <p>Enforcement of copyright</p>
            <br>
            <p>International eShopper takes the protection of its copyright very seriously.</p>
            <br>
            <p>If International eShopper discovers that you have used its copyright materials in contravention of the license above, International eShopper may bring legal proceedings against you seeking monetary damages and an injunction to stop you using those materials.
                You could also be ordered to pay legal costs.</p>
            <br>
            <p>If you become aware of any use of International eShopper’s copyright materials that contravenes or may contravene the license above, please report this by email to info@internationaleShopper.com.</p>
            <br>
            <br>
            <br>
            <p>Infringing material</p>
            <br>
            <p>If you become aware of any material on the website that you believe infringes your or any other person's copyright, please report this by email to info@internationaleShopper.com.</p>
            <br>
            <p>You must retain the "Credit" section in this document. If you wish to use the document without the "Credit" section (e.g. to project a more professional image) then you can get a license to do so here:</p>
            <br>
            <p>http://www.contractology.com/precedents/freenetlaw-license-copyright-notice.html</p>
            <br>
            <p>It is an infringement of our copyright to use the document without the "Credit" section and without paying the license fee.</p>p>



        </div>
    </div>
</section>