<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="left-sidebar">
                        <h2>Product Details</h2>
                    </div>
                    <div class="col-sm-5">
                        <div class="text-center">
                            <img class="img-thumbnail img-responsive" src="https://s3-us-west-2.amazonaws.com/ieshopper/uploads/<%=product.imagename %>"/>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="../public/images/product-details/new.jpg" class="newarrival" alt=""/>

                            <h2><%=product.productname %></h2>

                            <p>Web ID: <%=product.id %></p>
								<span>
									<span>US $<%=product.price %></span>
									<label>Quantity:</label>
									<input type="text" value="3"/>
									<button type="button" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
								</span>

                            <p><b>Country:</b> <%=product.country %></p>

                            <p><b>Type:</b> <%=product.type %></p>

                            <p><b>Description:</b> <%=product.description %></p>
                        </div>
                        <!--/product-information-->
                    </div>
                </div>
                <!--/product-details-->
            </div>
        </div>
    </div>
</section>

<!-- details Controller -->
<script src="../public/js/controllers/details.js"></script>