<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="left-sidebar">
                        <h2>Product Details</h2>
                    </div>
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="../public/images/product-details/1.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="../public/images/product-details/new.jpg" class="newarrival" alt=""/>

                            <h2>Anne Klein Sleeveless Colorblock Scuba</h2>

                            <p>Web ID: 1089772</p>
								<span>
									<span>US $59</span>
									<label>Quantity:</label>
									<input type="text" value="3"/>
									<button type="button" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
								</span>

                            <p><b>Country:</b> In Stock</p>

                            <p><b>Type:</b> New</p>

                            <p><b>Description:</b> E-SHOPPER</p>
                        </div>
                        <!--/product-information-->
                    </div>
                </div>
                <!--/product-details-->
            </div>
        </div>
    </div>
</section>

<!-- details Controller -->
<script src="../public/js/controllers/details.js"></script>